html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

body {
    background: rosybrown;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background: lightgray;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

footer {
    margin-top: auto;
}

footer>a {
    margin: 0 5px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    width: fit-content;
}

.gameboard {
    background-color: black;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 2px;
}

.board-field {
    font-size: 102pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
}